@page "/callfunc2"
@using BlazorApp.Shared 
@using System.Diagnostics
@inject HttpClient Http

<PageTitle>ServerFunc2</PageTitle>

<h1>Call ServerFunc2</h1>

<p>This component demonstrates calling a function on the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (errorMessage is not null)
{
    <p><em>@errorMessage</em></p>
}

@code {
    private SampleRecord[] forecasts = Array.Empty<SampleRecord>();
    private string? errorMessage = null;
    private TimeSpan? requestDuration = null;

    protected override async Task OnInitializedAsync()
    {
        long swStart = Stopwatch.GetTimestamp();
        errorMessage = null;
        requestDuration = null;
        try
        {
            var response = await Http.GetFromJsonAsync<ServerFunc2Response>("/api/" + Constant.ServerUrl.ServerFunc2) ?? new ServerFunc2Response() { };
            forecasts = response.Forecasts ?? Array.Empty<SampleRecord>();
        }
        catch (Exception ex)
        {
            errorMessage = $"{ex.GetType().Name}: {ex.Message}";
        }
        long swStop = Stopwatch.GetTimestamp();
        requestDuration = Stopwatch.GetElapsedTime(swStart, swStop);
    }
}
