@page "/fetchdata"
@using BlazorApp.Shared 
@using System.Diagnostics
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (serverInfo is null || errorMessage is not null)
{
    @if (errorMessage is not null)
    {
        <p><em>@errorMessage</em></p>
    }
    @if (serverInfo is null)
    {
        <p><em>Requesting...</em></p>
    }
}
else
{
    <p>Server file version : <em>@serverInfo.FileVersion</em></p>
    <p>Server OS VersionId : <em>@serverInfo.OSVersionId</em></p>
    <p>Server OS Timestamp : <em>@serverInfo.OSTimestamp</em></p>
    <p>Server OS TickCount : <em>@serverInfo.TickCount64</em></p>
    <p>Request latency (ms): <em>@requestLatency.TotalMilliseconds</em></p>
}

@code {
    private WeatherForecast[] forecasts = Array.Empty<WeatherForecast>();
    private ServerInfo? serverInfo = null;
    private TimeSpan requestLatency = TimeSpan.Zero;
    private string? errorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        serverInfo = null;
        errorMessage = null;
        try
        {
            long t0 = Stopwatch.GetTimestamp();
            var response = await Http.GetFromJsonAsync<WeatherResponse>("/api/WeatherForecast") ?? new WeatherResponse() { };
            forecasts = response.Forecasts ?? Array.Empty<WeatherForecast>();
            serverInfo = response.ServerInfo;
            long tz = Stopwatch.GetTimestamp();
            requestLatency = TimeSpan.FromTicks(tz - t0);
        }
        catch (Exception ex)
        {
            errorMessage = $"{ex.GetType().Name}: {ex.Message}";
        }
    }
}
